In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
data['Sales_before_digital_add(in $)'].mean()

149239.95454545456

In [6]:
data['Sales_After_digital_add(in $)'].mean()

231123.72727272726

The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

H0= There is no change in sales after stepping into digital marketing.

Ha= There is increase in sales after stepping into digital marketing.

In [7]:
#Two Sample T-Test
from scipy.stats import ttest_ind

In [8]:
t_test,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [9]:
p_value

2.614368006904645e-16

In [12]:
if p_value<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

Null Hypothesis rejected means that,there is increase in sales after stepping into digital marketing

In [13]:
#question 2

The company needs to check whether there is any dependency between
the features “Region” and “Manager”.

H0= There is no dependency between 'Region' and 'Manager'.

Ha= There is some dependency between 'Region' and 'Manager'.

In [14]:
#Chi Square Test of Independence
from scipy.stats import chi2_contingency

In [18]:
alpha=0.05

In [19]:
tab_data=pd.crosstab(data['Region'],data['Manager'])

In [20]:
tab_data

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [21]:
c,p,dof,expected=chi2_contingency(tab_data)

In [22]:
p

0.5493991051158094

In [24]:
if p<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted

Null hypothesis accepted means,there is no dependency between 'Region' and 'Manager'.

they are independent.